
html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff; 
  margin: 0;
  padding-top: 70px;
  padding: 0;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  color: #2c3e50; 
  font-weight: 600;
  margin-bottom: 1rem; 
}
/* 
@tailwind base;
@tailwind components;
@tailwind utilities; */
